<div class="side-cart" id="SideCart">
  <div class="side-cart__overlay" onclick="closeSideCart()"></div>

  <div class="side-cart__panel">
    {% comment %} <button class="side-cart__close" onclick="closeSideCart()">×</button> {% endcomment %}
    <div id="SideCartContent"></div>
  </div>
</div>
