<footer class="footer">
  <div class="footer-content max-w-7xl mx-auto px-4 sm:px-6">
    <p>
      &copy; {{ 'now' | date: '%Y' }}

      {{ section.settings.copyright_text }}. All rights reserved.
    </p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "Tarif Sadman"
    }
  ]
}
{% endschema %}
