<section class="logo-bar py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="logo-content d-flex flex-wrap justify-content-between">
        {% for block in section.blocks %}
          {% if block.settings.image %}
            <img src="{{ block.settings.image | img_url: '200x' }}" alt="logo" class="logo-image img-fluid">
          {% else %}
            <img
              src="{{ 'logo' | append: forloop.index | append: '.png' | asset_url }}"
              alt="logo"
              class="logo-image img-fluid"
            >
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Logo List",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo List",
      "blocks": [{ "type": "logo" }, { "type": "logo" }, { "type": "logo" }, { "type": "logo" }, { "type": "logo" }]
    }
  ]
}
{% endschema %}
