<section class="testimonials py-5 bg-light">
  <div class="section-header text-center mt-5">
    <h3 class="section-title">{{ section.settings.heading }}</h3>
  </div>
  <div class="swiper testimonial-swiper overflow-hidden my-5">
    <div class="swiper-wrapper d-flex">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“{{ block.settings.quote }}”</p>
              <div class="review-title text-uppercase">{{ block.settings.author }}</div>
            </blockquote>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "WE LOVE GOOD COMPLIMENT"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "quote",
          "label": "Quote",
          "default": "More than expected crazy soft, flexible and best fitted white simple denim shirt."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author/Title",
          "default": "casual way"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
